/* * *
 Colors
 Blue: #2175a4
 * * */
body, ul, li, div { padding: 0; margin: 0; list-style: none; }

body { height: 100%; width: 100%; position: relative; background: url('../images/bg.jpg'); }

/* * *
 Mask - Puts the border around the entire page in a fixed position;
 * * */
#mask li { position: fixed; background-color: rgba(100, 100, 100, .5); }
#mask-top, #mask-bottom { height: 5px; left: 5px; right: 5px; }
#mask-right, #mask-left { width: 5px; top: 0; bottom: 0;  }
#mask-top { top: 0; }
#mask-bottom { bottom: 0; }
#mask-right { right: 0; }
#mask-left { left: 0; }

/* * *
 Header
 * * */
#header-center { margin: 0 auto; }
#header-center, #header-bg, #its-me { width: 960px }

#header { position: fixed; }

#header-content { position: relative; }

#its-me, #header-bg { position: absolute; }
#header-bg {  height: 327px; margin-top: 2px; background-color: #2175a4; }
#its-me {  height: 329px; margin-left: -55px; padding: 0 55px; background: url('../images/header_bg.png') no-repeat; }

/* * *
 Overlay
 * * */
#overlay { position: relative; width: 1060px; margin: 0 auto; }
#overlay-shadow { 
  position: absolute; 
  width: 1060px; height: 430px; 
  margin: 225px 0 0 7px;
  background: url('../images/overlay_shadow.png') no-repeat; 
  z-index: 500; 
}
#overlay-inner { width: 894px; height: 342px; margin: 24px 91px 0 77px; z-index: 500; 
  background: url('../images/overlay_bg.jpg') repeat-x, url('../images/overlay_shadow_bg.png') no-repeat; 
}
#overlay-inner.fixed { position: fixed; }
  .line-down { background: url('../images/line_down.png') repeat-y; width: 10px; height: 342px; position: absolute; left: 346px; }
  .media {}
  .media ul { width: 431px; height: 201px; display: block; background: url('../images/media_bg.jpg') no-repeat; position: relative; top: 72px; margin: 0 auto; }
  .media ul li { padding: 15px; }

/* * *
 Linular
 * * */
.linular_container { width: 960px; margin: 0 auto; } /* Center Align the lines */
.linular_relative { width: 960px; position: absolute; top: 0; bottom: 0; } /* Having this container keeps the left/right position but breaks the top bottom positioning */
.linular { position: absolute; background-color: rgba(255, 255, 255, .25); }
.first { width: 30px; top: 0; bottom: 0; right: 20px; z-index: 1000; }
.second { width: 30px; top: 0; bottom: 0; left: 20px; z-index: 250; }
.third { height: 50px; top: 0px; left: 0; right: 0; }
.fourth { height: 3px; top: 56px; left: 0; right: 0; }
.fifth { height: 10px; top: 288px; left: 0; right: 0; }
.sixth { height: 50px; top: 305px; left: 0; right: 0; }

.dark_gray { position: absolute; top: 740px; left: 0; right: 0; height: 500px; }
.dark_gray div { position: absolute; width: 100%; }
.dark_gray .top { top: 0; background: url('../images/top_gray.png') repeat-x; height: 10px; }
.dark_gray .mid { top: 10px; bottom: 10px; background: url('../images/mid_gray.png'); }
.dark_gray .bottom { bottom: 0; background: url('../images/bottom_gray.png') repeat-x; height: 10px; }

.grate { background: url('../images/grate.jpg'); height: 49px; width: 30px; top: 740px; position: absolute; z-index: 100; }
.grate.left { left: 20px; }
.grate.right { right: 20px; }

.nub { background: url('../images/bg.jpg'); width: 30px; height: 15px; position: absolute; top: 1225px; z-index: 100; }
.nub.left { left: 20px; }
.nub.right { right: 20px; height: 55px; top: 1185px; }

#buffer { height: 1000px; }